/* html, body, .block {
    height: 100%;
  } */
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
.header
{
    background: #333 url(../images/banner.jpg) no-repeat center;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.nav-container{
    padding: 0em 4em;
}

.sidenav-trigger{
    background-color: rgba(7, 7, 7, 0.548);
}

/* .sidenav-trigger i{
   padding: 5% 25%;
} */

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
.header-tp{
  background-color: rgba(0, 0, 0, 0.548);
}
#banner{
    position: relative;
    padding: 15em 8em;
    
}

#banner .title h2
{
    font-size: 4em;
    color:#fff;
}

#banner .title .byline
{
    font-size: 2em;
    color:#ccc;
}

#banner a{
    margin-top: 2em;
    font-size: 15px;
    background-color: rgb(224, 175, 82);
    color: #333;
}

#banner a:hover{
    border: 2px solid #ccc;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.137);
}

/*********************************************************************************/
/* Side Nav                                                                       */
/*********************************************************************************/

.sidenav{
    background: #333 url(../images/banner.png) no-repeat center;
    background-position: center;
    background-size: cover;
}

#mobile-view li{
    margin: 2em 0;
}
#mobile-view li a{
    font-size: 20px;
    text-align: center;
    color: #fff;
}

/*********************************************************************************/
/* menu_showcase                                                                        */
/*********************************************************************************/

.img_container img {
  width: 200px !important;
  height: 150px !important;
}

.tip-section{
  padding: 6em 0em;
}

.tip-section .title h2
{
  font-size: 3em;
  color:#fff;
}

.tip-section .title .byline
{
  color:#ccc;
}

.tip-section a{
  margin-top: 2em;
  font-size: 15px;
  background-color: rgb(224, 175, 82);
  color: #333;
}

.tip-section a:hover{
  border: 2px solid #ccc;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.137);
}


/*********************************************************************************/
/* trend                                                                       */
/*********************************************************************************/
.parallax-container .section{
  background-color: #333 rgba(0, 0, 0, 0.137);
}


/*********************************************************************************/
/* footer                                                                       */
/*********************************************************************************/

.footer-image img{
  height: 200px;
  width: 200px;
}
